@model Processo_Seletivo_Programador.Models.Contato

@{
    ViewBag.Title = "Edit";

    Layout = "~/Views/Shared/_Blank.cshtml";
}

<h2>Edit</h2>
<div class="modal-dialog">
    <div class="modal-content">
        @using (Html.BeginForm("Create", "Contatos", FormMethod.Post,
            new { onsubmit = "return ValidarInformacoes()" }))
        {
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">x</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Editar contato</h4>
            </div>

            @Html.AntiForgeryToken()

    <div class="modal-body">
        <div class="form-horizontal">
            <!-- <h4>Contato</h4> -->
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", Name = "nome" } })
                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control", Name = "telefone" } })
                    @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
                </div>
            </div>

            <!--
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
            </div>
    -->

        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Cancelar" class="btn btn-default" data-dismiss="modal" />
                <input type="submit" value="Salvar" class="btn btn-primary" onclick="ValidarInformacoes()" />
            </div>
        </div>
    </div>
        }

        </div><!-- /.modal-content -->
</div><!-- /.modal-dialog --> 

    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function ValidarInformacoes() {

            var nome = document.getElementById("Nome").value;
            let telefone = document.getElementById("Telefone").value;

            if ((nome == "") || (telefone == "")) {
                alert("Preencha todos os campos.");
                return false;
            }

            alert("Editado com sucesso.");

            return true;
        }
    </script>

